
.header__title {
   font-size:1.5em;
   margin-right: 30px;
}
.wrapper {
   padding: 13% 15px 10% 15px;
   color:rgb(56, 55, 55);
}
.content__title {
   text-align: center;
   font-size: 3em;
   margin-bottom: 30px;
}
.content__text {
   padding: 30px;
   text-align: center;
   font-size: 1em;
   letter-spacing: 1.7px;
   margin-bottom: 30px;
}

.wrapper__form {
   width: 30%;
   margin-left: 40px;
   font-weight: 600;
}
.form h3 {
   text-transform: uppercase;
   font-size: 1em;
   font-weight: 600;
   text-align: center;
   padding-bottom: 15px;
}
.form input {
   color:black;
}